node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi
todos.json
.intlayer

# lockfiles (removed to make intlayer test easier)
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock